{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page.html"
    },
    {
      text: "Learning",
      href: "learning.html"
    },
    {
      text: "Blogs",
      href: "blogs.html"
    }
  ]
}) }}
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">Blogs</h1>

{% endblock %}
