{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page0.html"
    },
    {
      text: "Helping",
      href: "helping.html"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Helping</h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="accordion">

      <div class="accordion-section">

        <div class="accordion-section-header">
          <h2 class="heading-medium govuk-heading-m">GDS Assessors</h2>
        </div>
        <div class="accordion-section-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>Joe Honywill</li>
            <li>Sam Briely</li>
            <li>Laura Clifford</li>
            <li>Andy Porter</li>
          </ul>
        </div>

      </div>
      <div class="accordion-section">

        <div class="accordion-section-header">
          <h2 class="heading-medium govuk-heading-m">Event Visuals</h2>
        </div>
        <div class="accordion-section-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>Laura Clifford</li>
            <li>Richard Gibbons</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
