{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page0.html"
    },
    {
      text: "Helping",
      href: "helping.html"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Helping</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-padding-bottom-2">GDS Assessors</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Laura Clifford</th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Sam Briely</th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Joe Honywill</th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Andy Porter</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-one-third">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-padding-bottom-2">Event Visual Design</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Laura Clifford</th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Rich Gibbons</th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Erin Tregunna</th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Emeric Francis</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
