{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page0.html"
    },
    {
      text: "Learning",
      href: "learning.html"
    }
  ]
}) }}
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">Learning</h1>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-one-third">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-padding-bottom-2">Resources</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="reading-list.html">Reading List</a>
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="blogs.html">Blogs</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>



{% endblock %}
