{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page0.html"
    },
    {
      text: "Learning",
      href: "learning.html"
    }
  ]
}) }}
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">Learning</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="accordion">

      <div class="accordion-section">

        <div class="accordion-section-header">
          <h2 class="heading-medium govuk-heading-m">Book List</h2>
        </div>
        <div class="accordion-section-body">
          <ul class="govuk-list">
            <table class="govuk-table">
             <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="col">Book</th>
                 <th class="govuk-table__header" scope="col">Author</th>
               </tr>
             </thead>
             <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Designing Design</th>
                 <td class="govuk-table__cell ">Kenya Hara</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">The Design of Everyday Things</th>
                 <td class="govuk-table__cell ">Don Norman</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Don’t Make Me Think</th>
                 <td class="govuk-table__cell ">Steve Krug</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">The Back of the Napkin</th>
                 <td class="govuk-table__cell ">Dan Roam</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">The Elements of User Experience</th>
                 <td class="govuk-table__cell ">Jesse James Garrett</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Understanding Comics: The Invisible Art</th>
                 <td class="govuk-table__cell ">Scott McCloud</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Forms that work: Designing web forms for usability</th>
                 <td class="govuk-table__cell ">Caroline Jarrett and Gerry Gaffney</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Universal Principles of Design, Revised and Updated</th>
                 <td class="govuk-table__cell ">William Lidwell, Kritina Holden, Jill Butler</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Designing Web Usability: The Practice of Simplicity</th>
                 <td class="govuk-table__cell ">Nielsen, J., & Langer, H.</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Prioritising Web Usability</th>
                 <td class="govuk-table__cell ">Caroline Jarrett and Gerry Gaffney</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">100 Things Every Designer Needs to Know About People</th>
                 <td class="govuk-table__cell ">Susan Weinschenk</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Design Is A Job</th>
                 <td class="govuk-table__cell ">Mike Monteiro</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Handbook of Usability Testing</th>
                 <td class="govuk-table__cell ">Rubin and Chisnell</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">User centred web design</th>
                 <td class="govuk-table__cell ">Martin Goldstein an Cialdini</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">The small big</th>
                 <td class="govuk-table__cell ">Nielsen, J</td>
               </tr>
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" scope="row">Lean UX</th>
                 <td class="govuk-table__cell ">Gothelf/Seiden</td>
               </tr>
             </tbody>
            </table>
          </ul>
        </div>

      </div>
      <div class="accordion-section">

        <div class="accordion-section-header">
          <h2 class="heading-medium govuk-heading-m">Blogs</h2>
        </div>
        <div class="accordion-section-body">
          <ul class="govuk-list">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" target="_blank" href="https://designpatterns.hackpad.com/Good-articles-about-design-users-and-GDS-xN0jeRtNy5z">
                  Good articles about design, users and GDS:</a>
              </li>
              <li>
                <a class="govuk-link" target="-_blank" href="https://gdstechnology.blog.gov.uk/2014/11/21/a-frontend-crammer/">A front end crammer blog post</a>
              </li>
              <li>
                <a class="govuk-link" target="_blank" href="https://news.layervault.com/">Designer News - selection of links about the ‘hottest’ news</a>
              </li>
              <li>
                <a class="govuk-link" target="_blank" href="http://thenews.im/">Designer News & Hacker News</a>
              </li>
              <li>
                <a class="govuk-link" target="_blank" href="https://usepanda.com/">Panda</a>
              </li>
              <li>
                <a class="govuk-link" target="-_blank" href="http://tympanus.net/codrops/">Codrops</a>
              </li>
              <li>
                <a class="govuk-link" target="_blank" href="http://www.lukew.com/ff/">Luke Wroblewski - design blogger</a>
              </li>
              <li>
                <a class="govuk-link" target="_blank" href="http://alistapart.com/topics">Subscribe to this news letter</a>
              </li>
            </ul>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
