{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Center
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>design Center</h1>
  </div>
</header>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">Making</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-padding-bottom-2">Wireframing</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <a href="paper-prototyping.html">Paper Prototyping</a>
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Total estimated pay</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
