{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page0.html"
    },
    {
      text: "Making",
      href: "making.html"
    },
    {
      text: "Service Mapping",
      href: "service-mapping.html"
    }
  ]
}) }}
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">Service Mapping</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>Tools to make service maps</h2>
            <ul class="govuk-list govuk-list--number">
            <li>pen and paper</li>
            <li>post it's - often used for refining and questioning the map as a team</li>
            <li><a href="sketch.html">Sketch</a> - for producing high quality printable outputs</li>
          </ul>
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>Creating a map</h2>
            <p class="govuk-body">Creating a service map can be a long process that requires constant itteration. If your planning
              on creating a service map make sure you have access to Subject matter experts relating to the process your trying to
              map. As quite often this will be the first time people are trying to document knowledge previously stored in the heads
              of experinced caseworkers or hidden 'cheat sheats/knowledge items'. To find out more read this <a href="https://governmentasaplatform.blog.gov.uk/2016/01/07/mapping-driving-services/">
              GDS blog</a> about service mapping.
            </p>

          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>Examples</h2>
            <img src="/public/images/service-map1.png" width="650" hieght="400">
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <img src="/public/images/service-map2.png" width="650" hieght="400">
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <img src="/public/images/service-map3.png" width="650" hieght="400">
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
