{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page0.html"
    },
    {
      text: "Making",
      href: "making.html"
    },
    {
      text: "Sketch",
      href: "sketch.html"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Sketch</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-list--bullet">
      <li>Download and use the <a href="https://www.sketchapp.com/" target="_blank">free trial</a> and request a key through MySelfService
      </li>
      <li>There is a <a href="https://github.com/abbott567/sketch_wireframing_kit" target="_blank">GOV Elemetnts Kit</a> avliable for sketch</li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class= "govuk-heading-m">Using Gov Elements in sketch</h2>

<h3 class="govuk-heading-s">Adding the Gov Elements</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list govuk-list--number">
      <li>Select Sketch in the menu bar</li>
      <li>open the prefences menu</li>
      <li>seltct the libraies tab</li>
      <li>click add libray</li>
      <li>navigate to gov elements file you downloaded</li>
      <li>open the file to add it to your sketch libray</li>

    </ul>
  </div>
</div>

<h3 class="govuk-heading-s govuk-!-margin-top-4"> Creating Artboards</h3>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list govuk-list--number">
      <li>press the insert icon in the top left corner</li>
      <li>selct artboard</li>
      <li>create a custom artboard size of 1020px x 861px</li>
      <li>save the custom artboard size</li>
    </ul>
  </div>
</div>

<h3 class="govuk-heading-s govuk-!-margin-top-4">Adding Elements</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list govuk-list--number">
      <li>press the insert icon in the top left corner</li>
      <li>go to documents in the symbols section</li>
      <li>find and select the element you want</li  >
      <li>drag it to the correct postion</li>
      <li>right click the element and detach it from the symbol</li>
    </ul>
  </div>
</div>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>What can i use it for?</h2>
            <p class="govuk-body">Sketch is used by designers at HMLR to create wireframes of services and for diagram creation such as user journey maps
              and service maps.
            </p>
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>How do i get sketch?</h2>
            <p class="govuk-body">You will need to request a liscence to sketch through myselfservice. It usaully takes a couple of days to come through however
              there is a 30 day free trial you can use in the mean time. There is a useful <a href="https://github.com/abbott567/sketch_wireframing_kit">GOV elements kit</a> that can used with sketch
              to quickly wireframe prototypes of services.
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

{% endblock %}
