{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page.html"
    },
    {
      text: "Making",
      href: "making.html"
    },
    {
      text: "Sketch",
      href: "sketch.html"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Sketch</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-list--bullet">
      <li>Download and use the <a href="https://www.sketchapp.com/">free trial</a> and request a key through MySelfService
      </li>
      <li>There is a <a href="https://github.com/abbott567/sketch_wireframing_kit">GOV Elemetnts Kit</a> avliable for sketch</li>
    </ul>
  </div>
</div>

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>What can i use it for?</h2>
            <p class="govuk-body">Sketch is used by designers at HMLR to create wireframes of services and for diagram creation such as user journey maps
              and service maps.
            </p>
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>How do i get sketch?</h2>
            <p class="govuk-body">You will need to request a liscence to sketch through myselfservice. It usaully takes a couple of days to come through however
              there is a 30 day free trial you can use in the mean time. There is a useful <a href="https://github.com/abbott567/sketch_wireframing_kit">GOV elements kit</a> that can used with sketch
              to quickly wireframe prototypes of services.
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

{% endblock %}
