{% extends "layout.html" %}

{% block pageTitle %}
  Design Center
{% endblock %}

{% block content %}

  <div class="hero">
    <div class="govuk-grid-row">
      <div class ="govuk-grid-column-two-thirds">
        <h1 class="hero-header">HMLR Design Center</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <p class="hero-text">Providing digital and service leadership, training and advice to portfolios and delivery teams
        across Home Office Digital, Data and Technology.</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a class="large-link" href="#">Making</a>
      <p>A useful mix of information on prototyping skills and service creation</p>
    </div>
    <div class="govuk-grid-column-one-half">
      <a class="large-link" href="#">Learning</a>
      <p>A collection of books, blogs and training to help you develop your skills</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a class="large-link" href="#">Helping</a>
      <p>
    </div>
    <div class="govuk-grid-column-one-half">
      <a class="large-link" href="#">Sharing</a>
    </div>
  </div>
{% endblock %}
