{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Center
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Center</h1>
  </div>
</header>
<div class="hero">
  <div class="govuk-grid-row govuk-header__container govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h1>HMLR Design Center</h1>
    </div>
  </div>
  <div class="govuk-grid-row govuk-header__container govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      <p> lots of random text and a extremly inspiratational message in here!!</p>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="making.html">Making</a>
      <p>A useful mix of information on prototyping skills and service creation</p>
    </div>
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="#">Learning</a>
      <p>A collection of books, blogs and training to help you develop your skills</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="#">Helping</a>
      <p>
    </div>
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="#">Sharing</a>
    </div>
  </div>
{% endblock %}
