{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block header %}
<header class="govuk-header" role="banner" data-module="header">
  <div class="govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
<div class="hero">
  <div class="govuk-grid-row govuk-header__container govuk-width-container">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
      <h1>HMLR Design Centre</h1>
    </div>
  </div>
  <div class="govuk-grid-row govuk-header__container  govuk-width-container">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
      <p>Designing and building user focused HM Land Registry services</p>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer-container">
  <div class="govuk-width-container">
    <p class="govuk-body-s footer-text govuk-!-padding-top-4">A community site made and maintained by the HM Land Registry design community</p>
  </div>
</footer>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="making.html">Making</a>
      <p class="govuk-body">A useful mix of information on prototyping skills and service creation</p>
    </div>
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="learning.html">Learning</a>
      <p class="govuk-body">A collection of books, blogs and training to help you develop your skills</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="helping.html">Helping</a>
      <p class="govuk-body">What other designers can help you with</p>
      <p>
    </div>
    <div class="govuk-grid-column-one-half">
      <a class="govuk-!-font-size-24" href="sharing.html">Sharing</a>
      <p class="govuk-body">A place for sharing design resources and our work</p>
    </div>
  </div>
{% endblock %}
