{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block header %}
<header class="govuk-header header-border govuk-!-padding-bottom-1" role="banner" data-module="header">
  <div class="govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>

<div class="hero-container">
  <div class="hero-text">
  <h2 class="govuk-width-container govuk-heading-xl govuk-!-padding-bottom-3">HMLR Design Centre</h2>
  <p class="govuk-body">Designing HM Land Registry services</p>
  </div>
  <div class="color-overlay"></div>
</div>
{% endblock %}

<!-- {% block footer %}
<footer class="footer-container">
  <div class="govuk-width-container">
    <p class="govuk-body-s footer-text govuk-!-padding-top-4">A community site made and maintained by the HM Land Registry design community</p>
  </div>
</footer>
{% endblock %} -->

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter govuk-!-padding-right-1 govuk-!-padding-left-0">
    <div class="making">
      <div class="panel-text">
        <h3 class="govuk-heading-m">Making</h3>
        <p class="govuk-body">Information on creating prototypes and maps</p>
      </div>
      <div class="making-color"></div>
      <a class="btn" href="making.html"><span class="govuk-body govuk-!-margin-bottom-0">View</span></a>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter govuk-!-padding-left-1 govuk-!-padding-right-1">
    <div class="learning">
      <div class="panel-text">
        <h3 class="govuk-heading-m">Learning</h3>
        <p class="govuk-body govuk-!-padding-left-1 govuk-!-padding-right-1">Informaive blogs and books</p>
      </div>
      <div class="learning-color"></div>
      <a class="btn" href="learning.html"><span class="govuk-body govuk-!-margin-bottom-0">View</span></a>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter govuk-!-padding-right-1 govuk-!-padding-left-1">
    <div class="helping">
      <div class="panel-text">
        <h3 class="govuk-heading-m">Helping</h3>
        <p class="govuk-body govuk-!-padding-left-1 govuk-!-padding-right-1">Need help with assesments or graphic design</p>
      </div>
      <div class="helping-color"></div>
      <a class="btn" href="helping.html"><span class="govuk-body govuk-!-margin-bottom-0">View</span></a>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter govuk-!-padding-left-1 govuk-!-padding-right-0">
    <div class="sharing">
      <div class="panel-text">
        <h3 class="govuk-heading-m">Sharing</h3>
        <p class="govuk-body govuk-!-padding-left-1 govuk-!-padding-right-1">Downloadable resources</p>
      </div>
      <div class="sharing-color"></div>
      <a class="btn" href="sharing.html"><span class="govuk-body govuk-!-margin-bottom-0">View</span></a>
    </div>
  </div>

</div>

{% endblock %}
