{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design Centre
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start-page0.html"
    },
    {
      text: "Making",
      href: "making.html"
    },
    {
      text: "User Journey Mapping",
      href: "paper-prototyping.html"
    }
  ]
}) }}
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <h1>Design Centre</h1>
  </div>
</header>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">User Journey Mapping</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>Tools to make service maps</h2>
            <ul class="govuk-list govuk-list--number">
            <li>pen and paper</li>
            <li>post it's - often used for refining and questioning the map as a team</li>
            <li><a href="sketch.html">Sketch</a> - for producing high quality printable outputs</li>
          </ul>
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>Creating a map</h2>
            <p class="govuk-body">Creating a user journey map can be done in a number of ways. One very effective way is to take
              take a user posana and walk through the service (possible a service map) as if you are them highlighting pain points
              and there feelings at diffrent stages in their journey through a service. Find out more about creating user stories with
              this <a href="https://designnotes.blog.gov.uk/2016/04/21/how-to-make-a-user-journey-map/">GDS blog</a>.
            </p>
          </th>
        </tr>
        <!-- <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <h2>Examples</h2>
            <img src="/public/images/service-map1.png" width="650" hieght="400">
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <img src="/public/images/service-map2.png" width="650" hieght="400">
          </th>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            <img src="/public/images/service-map3.png" width="650" hieght="400">
          </th>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
